.gpt3__footer-logos {
    margin-top: 2rem;
    text-align: center;
  }
  
  .gpt3__footer-logos h4 {
    color: #4e6ef2;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 75px;
  }
  
  .gpt3__footer-logos_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .gpt3__footer-logos_container img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
    background-size: cover;
    border-radius: 10px;
  }
  
  .gpt3__footer-logos_container img:hover {
    transform: scale(1.1);
  }