.gpt3__footer-logos {
    margin-top: 20px;
    text-align: center;
  }
  
  .gpt3__footer-logos h4 {
    margin-top: 60px;
    color: #4e6ef2;
    font-family: var(--font-family);
    font-size: 40px;
  line-height: 48px;
  font-weight: 800;
  }
  
  .gpt3__footer-logos_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* flex-wrap: wrap; */
    margin-top: 60px;
  }
  
  .gpt3__footer-logos_container img {
    width: 120px;
    height: 100px;
    transition: transform 0.3s ease;
    background-size: cover;
    border-radius: 10px;
  }
  
  .gpt3__footer-logos_container img:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 768px) {
    .gpt3__footer-logos h4 {
        font-size: 28px;
        /* line-height: 15px; */
    }
    .gpt3__footer-logos {
        max-width: 390px;
        justify-content: center;
        margin: 40px auto;
    }
  }